#nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background: #ff6600;
    width: 100%;
}

html, body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

.container{
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin: 0.2%;

    width: 100%;
}

#contaiermain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#top{
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 0.2%;
    margin: 0.2%;

    display: flex;
    justify-content: flex-end;
}

.button{
    padding: 0.5%;
    background: #ff6600;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-left: 0.5%;
    margin-right: 0.5%;

}

#devicelist{
    list-style: none;
    padding: 0;
}

.listElement{
    border-width: thin;
    border-color: black;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    font-family: "Lucida Console", "Courier New", monospace;

    margin-top: 0.5%;
    padding: 0.5%;
    background: #ff6900;
}

.listElement:hover{
    background: #b3b2b2;
    cursor: pointer;
}

.listElement:active{
    background: #6c6c6c;
    cursor: pointer;
}


